<?xml version="1.0"?>

<!--
  shm_server.launch

  Specifies launch settings for shm_server application
-->

<launch>
  <arg name="debug" default="false"/>

  <arg unless="$(arg debug)" name="LAUNCH_PREFIX" value=""/>
  <arg     if="$(arg debug)" name="LAUNCH_PREFIX" value="gdb -ex run --args "/>

  <arg name="config_path" doc="Path to the JSON file with server configuration" />

  <node name="shm_server" pkg="shm_server" type="shm_server"
    args="$(arg config_path)"
    output="screen" />
</launch>
